.content{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    overflow: hidden;
    padding: 0 50px;
    position:relative
}
.table-coffee-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    width: fit-content;
    padding: 12px 5px;
}

.table-coffee-list .red {
    background-color: #f43f5e;
}

.table-coffee-list .blue {
    background-color: #3b82f6;
}

.table-coffee-list .green {
    background-color: #22c55e;
}

.table-coffee-list .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-height: 100px;
    height: 206px;
    width: 245px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: 400ms;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.table-coffee-list .card .card-image {
    width: 100% !important;
    height: 10rem;
    object-fit: cover !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -1px;
}

.table-coffee-list .card p.tip {
    font-size: 1em;
    font-weight: 700;
}

.table-coffee-list .card p.second-text {
    font-size: .7em;
}

/* .table-coffee-list .card:hover {
    transform: scale(1.1, 1.1);
} */

/* .table-coffee-list:hover>.card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
} */

.card-content {
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}

.card-content .card-title {
    font-size: 22px;
    font-weight: 500;
}

.card-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 60%;/*100%*/
    height: 100%;
    background: #fd7b1e;
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
    padding: 0 10px;
}

.card:hover .card-actions {
    transform: perspective(2000px) rotateY(0deg);
}

.card:hover .card-content {
    opacity: .5; /*làm mờ đen*/
    transform: translateX(30%);
}

.exist{
    background: #db9292 !important;
    color: white !important;
}

/* table-status */
.table-status{
    position: absolute;
    right: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 750px;
    height: 666px;
    /* background-color: #855B54; */
    background-color: #A85B3C;
    color: #fff;
    padding: 12px 10px;
    margin-top: 12px;
    transform-origin: right;
    transform: translateX(106%);
}

.status-exist{
    /* width: 750px; */
    position: unset;
    transition: .5s;
    transform: translateX(0%) !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.table-status .status-header {
    display: flex;
    justify-content: space-between;
}

.table-status .status-header .status-title{
    text-align: center;
}

.table-status .status-header .btnClose {
    background: none !important;
    border: none !important;
    color: #fff;
    font-size: 22px;
    padding: 0 12px;
}

.table-status table{
    width: 100%;
}

